body{
    margin: 0;
    overflow: hidden;
    font-family: "Times New Roman";
}

#header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #575A89;
    width: 100%;
}

.arrow {
    margin: 1%;
}

.header-title{
    display: flex;
    text-align: center;
    justify-content: center;
}

.content-infos{
    margin: 1%;
}

.title{
    text-align: center;
}

.text{
    width: 95%;
}

.content-input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.submit {
    color: white;
    border: none;
    border-radius: 5px;
    padding: 0.5vw;
    background-color: #575A89;
    width: 97%;
    margin-right: 2.5%;
}

.flex {
    display: flex;
}


@media(min-width: 768px){
    .content{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}