<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/homeStyled.css">
        <script defer type="module" src="src/home.js"></script>
        <title>Criptocoins</title>
    </head>
    <body>
        <div id="header"> 
            <h4 class="header-title">Criptocoins</h3>
            <h4 class="header-login"><a class="anchor" href="/">Sair</a></h4>
        </div>

        <div class="content">
            <h4 class="title">Criptomoedas</h4>
            <hr />

            <div class="infos">
                <div class="infos-divs">
                    <p class="infos-text">Saldo: </p>
                    <p id="balance" class="infos-text"></p>
                </div>

                <div class="infos-divs">
                    <p class="infos-text">Numero de moedas: </p>
                    <p class="infos-text">5</p>
                </div>
                <div class="infos-divs">
                    <p class="infos-text">Captalização total: </p>
                    <p class="infos-text">R$336.930.444.492</p>
                </div>
            </div>
            <hr />

            <h4 class="title">Moedas mais valorizadas</h4>
            <div class="table-coins">
                <div class="tr-table">
                    <p class="tr-text">Bitcoin</p>
                    <p class="tr-text">79102-320</p>
                    <p class="tr-text">R$103.052,36</p>
                </div>
                <div class="tr-table">
                    <p class="tr-text">BinanceCoin</p>
                    <p class="tr-text">45066-672</p>
                    <p class="tr-text">R$191,34</p>
                </div>
                <div class="tr-table">
                    <p class="tr-text">Litecoin</p>
                    <p class="tr-text">58088-020</p>
                    <p class="tr-text">R$479,84</p>
                </div>
                <div class="tr-table">
                    <p class="tr-text">Ethereum</p>
                    <p class="tr-text">59138-602</p>
                    <p class="tr-text">R$3.236,33</p>
                </div>
                <div class="tr-table">
                    <p class="tr-text">Stellar</p>
                    <p class="tr-text">68376-041</p>
                    <p class="tr-text">	R$0,74</p>
                </div>
            </div>

            <div class="menu">
                <div class="buttons-block-1">
                    <a href="/fazer-aporte">
                        <button class="button">Fazer-aporte</button>
                    </a>
                    <a href="/fazer-resgate">
                        <button class="button">Fazer-resgate</button>
                    </a>
                </div>
                <div class="buttons-block-2">
                    <a href="/comprar-criptomoeda">
                        <button class="button">Comprar criptomoedas</button>
                    </a>
                    <a href="/vender-criptomoeda">
                        <button class="button">Vender criptomoedas</button>
                    </a>
                </div>
            </div>
        </div>
        <footer>
            <div class="footer-block">
                <div class="infos-company">
                    <h4 class="title">O que fazemos</h4>
                    <p class="text">
                        Somos uma empresa nova no mercado de compra e venda de criptocoins com a 
                        tecnologia inovadora e mais segura do mercado blockchain onde suas tranzações ficam completamente seguras.
                    </p>
                </div>

                <div>
                    <h4 class="title">Como funciona</h4>
                    <p class="text">
                        Após realizar seu primeiro aporte em sua conta conosco você já podera começar a comprar e vender criptomoedas e fazer seu dinheiro se multiplicar e investir em diversas criptocoins diferentes.
                    </p>
                </div>
            </div>

            <div class="footer-block">
                <div class="infos-company">
                    <h4 class="title">Se preferir usar seu celular</h4>
                    <p class="text-company">
                        Baixe nosso app para android e tenha todos os recursos na palma da sua mão e faça parte do mundo das criptomoedas!
                    </p>
                </div>
                <a href="https://play.google.com/store?hl=pt_BR&gl=br" class="google-play">
                    <img src="./images/google-play.svg"/>
                </a>
            </div>
        </footer>
    </body>
    </html>