<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="css/loginStyled.css">
        <script defer type="module" src="src/login.js"></script>
    </head>

    <body>
        <div id="header">
            <h4 class="header-title">Criptocoins</h4>
        </div>
        <div class="content">
            <div class="logo">
                <img src="/images/logo-criptocoins.svg"/>
                <h1>Criptocoins</h1>
            </div>
            <form name="login">
                <label>E-mail:</label>
                <br />
                <input id="email" name="email" id="email" class="text" type="email" autofocus>
                <br />
                <br />
                <label>Senha:</label>
                <br />
                <input id="password" name="password" class="text" type="password">
                <br />
                <br />
                <input id="submit" class="submit" type="button" value="entrar" />
                <br />
                <br />
                <a href="/cadastrar-se"><input class="submit" type="button" value="Cadastrar-se"></a>
            </form>
        </div>
    </body>
</html>