<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="css/perfilStyled.css">
    </head>

    <body>
        <div id="header">
            <img class="arrow" src="../../images/arrow-right.svg"/>
        </div>
        <div class="content">
            <div class="logo">
                <img src="../../images/logo-criptocoins.svg"/>
                <h1>Criptocoins</h1>
            </div>
            <form>
                <label>Nome Completo:</label>
                <br />
                <input class="text" type="text" value="Nome" disabled>
                <br />
                <br />
                <label>E-mail:</label>
                <br />
                <input class="text" type="text" value="E-mail" disabled>
                <br />
                <br />
                <label>CPF:</label>
                <br />
                <input class="text" type="text" value="CPF" disabled>
                <br />
                <br />
                <label>Data de nascimento:</label>
                <br />
                <input class="text" type="text" value="Data" disabled>
                <br />
                <br />
            </form>
        </div>
    </body>
</html>