<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vender criptomoedas</title>
        <link rel="stylesheet" type="text/css" href="css/venderCriptoMoeda.css">
        <script defer type="module" src="src/sell.js"></script>
    </head>

    <body>
        <div id="header">
            <a class="arrow" href="/home"><img src="/images/arrow-right.svg"/></a>
        </div>
        <div class="content">
            <div class="infos-divs">
                <p class="infos-text">Saldo em conta:</p>
                <p id="balance" class="infos-text"></p>
            </div>
            <form>
                <label>Informe a moeda(Valor por unidade)</label>
                <br />
                <input id="coin" list="coins" class="infos-inputs">
                <datalist id="coins"></datalist>
                <br />
                <label>Informe a quantidade</label>
                <br />
                <input value="1" id="amount" type="number" class="infos-inputs">
                <br />
                <label>Valor total de venda</label>
                <br />
                <input id="sell-price" type="text"  class="infos-inputs" disabled>
                <br />
                <input id="submit" type="submit" class="submit" value="Vender">
            </form>
        </div>
    </body>
</html>